src/main/mule/global/retrieveconsolidatedroutesandschedule-fastgo-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="retrieveconsolidatedroutesandschedule-fastgo-sapi-main">
        <http:listener path="/api/*" config-ref="RetrieveConsolidatedRoutesAndSchedule-FastGo-SAPI-httpListenerConfig">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieveconsolidatedroutesandschedule-fastgo-sapi-config" />
        <error-handler ref="globalErrorHandlerError_Handler">
        </error-handler>
    </flow>
	<sub-flow name="retrieveconsolidatedroutesandschedule-fastgo-sapiSub_Flow" doc:id="14f5155c-9f2e-4beb-bfd7-193a98202ebb" >
		<ee:transform>
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
                <ee:set-variable variableName="transportCompany"><![CDATA[attributes.uriParams.'transportCompany']]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[%dw 2.0
output application/java
---
attributes.headers.transactionId]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\(transportType)\(transportCompany)\routes:RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI-config" doc:id="20430127-9be9-49ba-84c7-556864de4327" >
		<flow-ref doc:name="Copy_of_Flow Reference initialize Request Variable" doc:id="899bf884-06ee-47c4-a347-f8c5806f9637" name="retrieveconsolidatedroutesandschedule-fastgo-sapiSub_Flow" />
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="68a2edc2-25c0-4701-8f7a-b9f05f2ccc27" message="Request Received for Routes FastGo SAPI for TransactionId: #[vars.transactionId]" />
		<flow-ref doc:name="Copy_of_Flow Reference" doc:id="f03cd7ca-6947-4d91-bb70-3e8e200cde9f" name="fastGo-getRoutes-implementation_Sub_Flow" />
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="b6545106-c0a5-469d-aabc-63fdd6962aa3" message="Response sent for fastGo SAPI for TransactionId: #[vars.transactionId]" />
	</flow>
	<flow name="get:\(transportType)\(transportCompany)\schdules:RetrieveConsolidatedRoutesAndSchedule-TravelOnTip-SAPI-config" doc:id="627e4f0a-1307-4cd5-ac27-0e8eb438fa65" >
		<flow-ref doc:name="Copy_of_Flow Reference initialize Request Variable" doc:id="8e7c6183-ce61-4573-a758-1a6cd06b35ba" name="retrieveconsolidatedroutesandschedule-fastgo-sapiSub_Flow" />
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="ca0a0526-774c-4b4b-9278-3e22d63e085e" message="Request Received for Schedules fastGo SAPI for TransactionId: #[vars.transactionId]" />
		<flow-ref doc:name="Copy_of_Flow Reference" doc:id="da10cb63-f4b7-46a5-bf48-4088ef1c16de" name="fastGo-getSchedules-implementationSub_Flow" />
		<logger level="INFO" doc:name="Copy_of_Logger" doc:id="00e27478-cd00-4270-9528-acdb9b1a450f" message="Response sent for Schedules fastGo SAPI for TransactionId: #[vars.transactionId]" />
	</flow>
</mule>
